* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #018DED url('http://unsplash.it/1500/1000?image=881&blur=50');
  background-size: cover;
  text-align: center;
  font-size: 10px;
}

